# Example .env file for CutORCA.py

# Default file paths for NetCDF processing
INPUT_PATH=/mnt/localssd/Data_nemo/Meshes_domains/Coordinates/Global/ORCA_R36_coord_new.nc
TARGET_PATH=/mnt/localssd/Data_nemo/Meshes_domains/Coordinates/Regional
TARGET_FILE=arct_cutorca36_coord.nc

# Pacific and Atlantic y-indices (latitude-like)
PAC_FIRST_YIND=7550
PAC_LAST_YIND=-2
ATL_FIRST_YIND=7350
ATL_LAST_YIND=-1

# Pacific and Atlantic x-indices (latitude-like). It must be less than 1/2 x-dimension size!
PAC_FIRST_XIND=1500
PAC_LAST_XIND=5900
